body {
    background-color: #fff;
    /*font-family: sans-serif;*/
    /*font-family: 'Mandali',Arial,"libra sans",sans-serif;*/
    
    font-family: Ubuntu,Arial,"libra sans",sans-serif;
    font-size: .8em;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
a {
    transition: color 0.2s ease 0s;
    text-decoration: none;
    color: #29ABE1;
    font-weight: bold;
}
a:hover {
    color: #066471;
}
header {
    background-color: #f5f5f5;
    border-bottom: 2px solid #29ABE1;
    z-index:1;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .8);
}
#header-container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
h1, h2, h3 {
    font-weight: normal;
}
#header-container h1 {
    font-size: 25px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}
#header-container h1 a {
    text-decoration: none;
    color: #333333;
}
#header-container h1 span {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
}
#navigation {
    position: absolute;
    right: 0px;
    top: 0px;
}
#navigation a {
    text-decoration: none;
    color: #000;
    transition: color 0.2s ease 0s;
    font-size: 16px;
    float: left;
    line-height: 60px;
    margin-left: 30px;
}
#navigation a:hover {
    color: #29ABE1;
    border-bottom: #29ABE1 solid 2px;
}
.section-contents {
    width: 960px;
    margin: 0 auto;
}
#intro {
    position: relative;
}
#flug-into {
    width: 320px;
    float: left;
    margin-top: 140px;
}
#flug-into p {
    background-color: rgba(248,247,247,.6);
    padding: 3px 12px;
}
#flug-into h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
}
#flug-into p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}
#os-banner {
    float: right;
    margin-top: 150px;
    margin-right: 100px;
    width: 400px;
}
#find-out-more {
    margin-top: 30px;
}
#find-out-more a {
    background: none repeat scroll 0 0 #3c96a5;
    transition: background-color 0.2s ease 0s;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 10px 0 10px 24px;
    border-radius: 3px;
}
#find-out-more a:hover {
    background-color: #2a7d8b;
}
#find-out-more a span {
    background-color: #2a7d8b;
    padding: 10px 13px;
    border-radius: 0 3px 3px 0;
}
#intro-bottom {
    background-color: #f5f5f5;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #29ABE1;
}
#intro-bottom #social-media {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
#intro-bottom #social-media p {
    float: left;
    width: 850px;
    font-size: 16px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}
#intro-bottom #social-media div {
    float: right;
    padding-top: 6px;
}
p {
    font-size: 16px;
    line-height: 22px;
    color: #303030;
    margin-top: 0;
}
.clearfix {
    clear: both;
}
.small-text {
    font-family: sans-serif;
    font-size: 10px;
}
#sec1 {
    background: url(/assets/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#sec2 {
    background: url(/assets/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#sec3 {
    background: url(/assets/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#next-event-container{
    position: absolute;
    top: 450px;
    bottom: 80px;
    width: 100%;
    cursor: pointer;
}
#next-event-container .cal-item {
    height: 100%;
    overflow: hidden;
}
#calendar-container {
    padding-top: 20px;
    display: block;
    position: absolute;
    top: 60px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}
/* calendar */
.cal-item {
    background-color: rgba(248,247,247,1);
    border-radius: 5px 5px 3px 3px;
    box-shadow: 0px 0px 5px -2px #000;
    margin: 0;
    width: 960px;
    margin: 0 auto;
    visibility: hidden;
}
.cal-item .cal-title-container h3 {
    background-color: rgba(60,150,165,1);
    color: #fff;
    line-height: 45px;
    padding-left: 65px;
    border-radius: 3px 3px 0 0;
    margin: 0;
}
.cal-item .cal-title-container .cal-icon {
    border-radius: 3px 0 0 0;
    float: left;
    height: 40px;
    width: 50px;
    background-color: #535353;
    border-bottom: 5px solid #434343;
}
.cal-item .cal-title-container .cal-icon img {
    width: 30px;
    height: 30px;
    padding: 5px 10px;
}
.cal-item .cal-time-schedule {
    cursor: pointer;
    margin-top: -40px;
    border-radius: 6px;
    box-shadow: 0 0 5px 2px #888888;
    margin-right: 6px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
    color: #fff;
    width: 78px;
    padding: 5px 2px;
    background: #a42b42; /* Old browsers */
    background: -moz-linear-gradient(top, #a42b42 0%, #780a23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a42b42), color-stop(100%,#780a23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a42b42 0%,#780a23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a42b42 0%,#780a23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a42b42 0%,#780a23 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a42b42 0%,#780a23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a42b42', endColorstr='#780a23',GradientType=0 ); /* IE6-9 */
}
.cal-item .cal-time-schedule .event-day {
    display: inline-block;
    font-size: 24px;
    line-height: 26px;
    width: 38px;
    text-align: center;
}
.cal-item .cal-time-schedule .event-monthyear {
    border-left: 1px solid #B5485C;
    float: right;
    display: inline-block;
    width: 38px;
    text-align: center;
}
.cal-item .cal-time-schedule .event-month {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.cal-item .cal-time-schedule .event-year {
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
}
.cal-item .cal-time-schedule .event-clock {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
}
.cal-item p {
    padding: 0 10px 10px 10px;
    font-size: 14px;
    font-family: Ubuntu,Arial,"libra sans",sans-serif;
}
.cal-item p a {
    text-decoration: none;
    color: #29abe1;
    transition: color 0.2s ease 0s;
    font-weight: normal;
}
.cal-item p a:hover {
    color: #066471;
}
/* calendar - end */
#footer {
    background-color: #F5F5F5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: 2px solid #29abe1;
    color: #5a5a5a;
}
#footer h4 {
    color: #29ABE1;
    font-size: 16px;
    margin: 0 0 10px 0;
}
#footer #footer-container {
    margin: 0 80px;
    padding: 20px 0 0 0;
}
#footer #footer-container > div {
    float: left;
}
#footer #footer-container #footer-nav {
    border-right: 1px solid #c9c9c9;
    width: 50%;
}
#footer #footer-container #footer-findus {
    margin-left: 30px;
}
ul.list-line {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.list-line li {
    display: inline;
    font-size: 14px;
    margin-right: 10px;
}
ul.list-line li a {
    color: #5a5a5a;
    font-weight: normal;
}
ul.list-line li a:hover {
    color: #29abe1;
}
ul#social-links li {
    display: inline-block;
    vertical-align: middle;
}
#who-container {
    width: 960px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
#who-container h2 {
    font-size: 30px;
    margin: 0 0 20px;
    color: #fff;
}
#who-container #about {
    color: #5a5a5a;
    margin: 0;
    background-color: rgba(248, 247, 247, 0.7);
    padding: 3px 12px;
}
#who-container #about p {
    font-size: 20px;
    line-height: 27px;
    margin: 10px;
}